/* blog comment */

/* #blog-comment{
} */
#blog-comment ul{
    list-style: none;
}
#blog-comment ul li{
    display: flex;
    padding: 2em;
    background-color: rgba(0,0,0,0.15);
    margin-bottom: 12px;
    text-align: left;
}
#blog-comment ul li img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
#blog-comment ul li .comment-body{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 15px;
    width: 100%;
}
#blog-comment ul li .comment-body h2{
    align-self: flex-start;
    margin-right: 25px;
}
#blog-comment ul li .comment-body h5{
    padding-top: 0.7em;
    align-self: flex-start;
    color: #a1a6a8;
}
#blog-comment ul li .comment-body p{
    width: 100%;
}
#blog-comment ul li .comment-body div[userId]{
    margin-left: 0;
}
#blog-comment ul li .comment-body a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.comment-response{
    margin-top: 0.5em;
}
.comment-response a{
    margin-right: 25px;
    cursor: pointer;
}
.comment-response a:nth-child(2){
    display: none;
}
.show-comment-response a:nth-child(2){
    display: inline-block!important;
}
.show-comment-response .comment-response{
    display: none!important;
}
.comment-response-div{
    display: none;
    width: 100%!important;
}

.show-comment-response .comment-response-div{
    display: block!important;
}
.comment-response-div h3{
    width: 100%;
}